<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- These meta tags always have to come first in the head and the rest comes after -->

		<title>What's Cooking?</title>

		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
				integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
				crossorigin="anonymous"></script>
		<!-- Latest compiledCSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			  crossorigin="anonymous"/>
		<!-- Theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
			  integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
			  crossorigin="anonymous"/>
		<!-- Latest compiled js -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
				crossorigin="anonymous"></script>
		<!--<script src="./js/search.js"></script>-->
		<!--<script src="./js/recipeSerializer.js"></script>-->
		<!--<script src="./js/dynamicForm.js"></script>-->
		<!--<script src="./js/resultMapper.js"></script>-->
		<!--<script src="./js/recipeToUI.js"></script>-->
		<!--<script src="./js/random.js"></script>-->

		<!--<script src="./js/modalCreation.js"></script>-->
		<!--<script src="./js/saved_recipe.js"></script>-->
        <!--<script src="./js/groceryList.js"></script>-->

	</head>

	<body>

		<!-- !NAV BAR!-->

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- NAV BAR grouped for better mobile display -->
				<th:block th:replace="fragments :: sidebar('.')"/>
			</div>
		</nav>

		<div class="container">
			<h1 align="center">Enter Your Ingredients</h1>
		</div>

		<!--<div class="col-sm-offset-4 col-sm-4">
		<form class="form-signin" method="post">

			 <br/>
			 <input type="text" id="ingredient" class="form-control" placeholder="Ingredient" required="autofocus"/>
			 <br/>
			 <button id="AddIngredient" class="btn btn-lg btn-primary" type="button">Add Additional Ingredient</button>
			 <button id="FindRecipes" class="btn btn-lg btn-success" type="button" onclick="search(ingredient.value)">Find Recipes!</button>
			 </form>
		 </div>-->
		<div class="container">
			<div class="row">
				<div class="col-lg-3 affix">
					<div class="control-group" id="fields">
						<h3 class="control-label" for="field1">Ingredient List</h3>
						<div class="controls">
							<form role="form" autocomplete="off" action="#">
								<!--TO ADD OTHER INPUTS, PUT THEM BETWEEN THESE LINES-->

								<div class="entry input-group col-xs-12">
									<input class="form-control ingredient" name="ingredient" type="text"
										   placeholder="Add Ingredient"/>
									<span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
								</div>
							</form>
							<br/>
							<input type="button" class="btn btn-md btn-block btn-primary recipeSubmit" id="searchRec"
								   value="Search Recipes"/>
							<input type="button" class="btn btn-md btn-block btn-primary randomSubmit" id="searchRandom"
								   value="Search Random"/>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-lg-offset-3" id="recipeList">
				</div>
			</div>
		</div>
		<div id="modals">
		</div>
	</body>
</html>
